<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.anssy.venturebar.activity.dao.ActivityInfoDao">
    <resultMap id="BaseResultMap"
               type="com.anssy.venturebar.activity.entity.ActivityInfoEntity">
        <id column="ID" property="id" jdbcType="BIGINT"/>
        <result column="IMAGE" property="image" jdbcType="VARCHAR"/>
        <result column="ACTIVITY_NAME" property="activityName"
                jdbcType="VARCHAR"/>
        <result column="SPONSOR" property="sponsor" jdbcType="VARCHAR"/>
        <result column="ACTIVITY_TYPE" property="activityType"
                jdbcType="BIGINT"/>
        <result column="BEGIN_TIME" property="beginTime" jdbcType="TIMESTAMP"/>
        <result column="END_TIME" property="endTime" jdbcType="TIMESTAMP"/>
        <result column="PROVINCE_ID" property="provinceId" jdbcType="BIGINT"/>
        <result column="CITY_ID" property="cityId" jdbcType="BIGINT"/>
        <result column="AREA_ID" property="areaId" jdbcType="BIGINT"/>
        <result column="LONGITUDE" property="longitude" jdbcType="VARCHAR"/>
        <result column="LATITUDE" property="latitude" jdbcType="VARCHAR"/>
        <result column="GEOHASH" property="geohash" jdbcType="VARCHAR"/>
        <result column="PV" property="pv" jdbcType="BIGINT"/>
        <result column="PRAISE" property="praise" jdbcType="BIGINT"/>
        <result column="WEIGHT" property="weight" jdbcType="BIGINT"/>
        <result column="STATE" property="state" jdbcType="INTEGER"/>
    </resultMap>
    <sql id="Base_Column_List">
        ID, IMAGE,ACTIVITY_NAME,SPONSOR, ACTIVITY_TYPE, BEGIN_TIME, END_TIME,
        PROVINCE_ID,CITY_ID, AREA_ID,LONGITUDE, LATITUDE, GEOHASH, PV,
        PRAISE,WEIGHT,STATE
    </sql>

    <sql id="search_like">
        and ACTIVITY_NAME like '%'||#{search}||'%'
    </sql>

    <select id="findId" resultType="java.lang.Long">
        select
        sequence_activity_activityInfo.nextVal from dual
    </select>

    <select id="findActivityInfoById" resultMap="BaseResultMap"
            parameterType="java.lang.Long">
        select
        <include refid="Base_Column_List"/>
        from ACTIVITY_ACTIVITYINFO
        where ID = #{id,jdbcType=BIGINT}
    </select>

    <update id="updatePV" parameterType="java.lang.Long">
        update ACTIVITY_ACTIVITYINFO
        set
        PV=PV+1 where ID = #{id,jdbcType=BIGINT}
    </update>

    <update id="updatePraise" parameterType="java.lang.Long">
        update
        ACTIVITY_ACTIVITYINFO set
        PRAISE=PRAISE+1 where
        ID=#{id,jdbcType=BIGINT}
    </update>

    <update id="updateWeight">
        update ACTIVITY_ACTIVITYINFO set WEIGHT=#{1} where ID =#{0}
    </update>

    <update id="overdue" parameterType="java.util.Date">
        update ACTIVITY_ACTIVITYINFO set STATE=2 where
        <![CDATA[ to_char(END_TIME,'yy-mm-dd hh24:mi:ss') <= to_char(#{time,jdbcType=TIMESTAMP},'yy-mm-dd hh24:mi:ss')]]>
    </update>

    <delete id="deleteActivityInfo" parameterType="java.lang.Long">
        delete from
        ACTIVITY_ACTIVITYINFO where ID = #{id,jdbcType=BIGINT}
    </delete>

    <select id="findListByGPS" resultMap="BaseResultMap"
            parameterType="com.anssy.webcore.vo.GPSVo">
        select
        <include refid="Base_Column_List"/>
        from ACTIVITY_ACTIVITYINFO where STATE=1
        <if test="search!=null">
            <include refid="search_like"/>
        </if>
        and GEOHASH like CONCAT(#{geohash},'%')
    </select>

    <select id="findListByPv" resultMap="BaseResultMap"
            parameterType="com.anssy.venturebar.activity.vo.PvVo">
        select
        <include refid="Base_Column_List"/>
        from ACTIVITY_ACTIVITYINFO where rowid in
        (select rid from
        (select rownum rn,rid from
        (select rowid rid from ACTIVITY_ACTIVITYINFO where STATE=1
        <if test="search!=null">
            <include refid="search_like"/>
        </if>
        <if test="provinceId!=null">
            and PROVINCE_ID=#{provinceId,jdbcType=BIGINT}
            <if test="cityId!=null">
                and CITY_ID=#{cityId,jdbcType=BIGINT}
                <if test="areaId!=null">
                    and AREA_ID=#{areaId,jdbcType=BIGINT}
                </if>
            </if>
        </if>
        order by
        <if test="capacityType==0">
            PV
        </if>
        <if test="capacityType==1">
            PRAISE
        </if>
        <if test="capacityType==2">
            WEIGHT
        </if>
        desc )
        where <![CDATA[ rownum <=#{end,jdbcType=INTEGER} ]]>)
        where <![CDATA[ rn >=#{being,jdbcType=INTEGER} ]]>)
        order by
        <if test="capacityType==0">
            PV
        </if>
        <if test="capacityType==1">
            PRAISE
        </if>
        <if test="capacityType==2">
            WEIGHT
        </if>
        desc
    </select>

    <select id="findListByType" resultMap="BaseResultMap"
            parameterType="com.anssy.venturebar.activity.vo.ActivityTypeVo">
        select
        <include refid="Base_Column_List"/>
        from ACTIVITY_ACTIVITYINFO where rowid in
        (select rid from
        (select rownum rn,rid from
        (select rowid rid from ACTIVITY_ACTIVITYINFO where STATE=1
        <if test="search!=null">
            <include refid="search_like"/>
        </if>
        and ACTIVITY_TYPE=#{activityType,jdbcType=BIGINT}
        <if test="provinceId!=null">
            and PROVINCE_ID=#{provinceId,jdbcType=BIGINT}
            <if test="cityId!=null">
                and CITY_ID=#{cityId,jdbcType=BIGINT}
                <if test="areaId!=null">
                    and AREA_ID=#{areaId,jdbcType=BIGINT}
                </if>
            </if>
        </if>
        order by WEIGHT desc)
        where <![CDATA[ rownum <=#{end,jdbcType=INTEGER} ]]>)
        where <![CDATA[ rn >=#{being,jdbcType=INTEGER} ]]>)
        order by WEIGHT desc
    </select>

    <select id="referrals" resultMap="BaseResultMap"
            parameterType="com.anssy.webcore.vo.ReferralsVo">
        select
        <include refid="Base_Column_List"/>
        from ACTIVITY_ACTIVITYINFO where rowid in
        (select rid from
        (select rownum rn,rid from
        (select rowid rid from ACTIVITY_ACTIVITYINFO where STATE=1
        <if test="provinceId!=null">
            and PROVINCE_ID=#{provinceId,jdbcType=BIGINT}
            <if test="cityId!=null">
                and CITY_ID=#{cityId,jdbcType=BIGINT}
                <if test="areaId!=null">
                    and AREA_ID=#{areaId,jdbcType=BIGINT}
                </if>
            </if>
        </if>
        order by PRAISE desc )
        where <![CDATA[ rownum <=#{count,jdbcType=INTEGER} ]]>  )
        where <![CDATA[ rn >=1 ]]>  )
        order by PRAISE desc
    </select>

    <select id="findMyPublish" resultMap="BaseResultMap"
            parameterType="com.anssy.webcore.vo.MyVo">
        select
        <include refid="Base_Column_List"/>
        from ACTIVITY_ACTIVITYINFO where rowid in
        (select rid from
        (select rownum rn,rid from
        (select info.rowid rid from ACTIVITY_ACTIVITYINFO info
        left join ACTIVITY_ACTIVITYITEM item
        on info.ID=item.ACTIVITY_ID
        where 1=1
        <if test="search!=null">
            <include refid="search_like"/>
        </if>
        and item.PUBLISH_ID=#{publishId,jdbcType=BIGINT}
        order by info.ID desc)
        where <![CDATA[ rownum <=#{end,jdbcType=INTEGER} ]]>)
        where <![CDATA[ rn >=#{being,jdbcType=INTEGER} ]]>)
        order by ID desc
    </select>

    <select id="findCollect" resultMap="BaseResultMap"
            parameterType="com.anssy.webcore.vo.CollectVo">
        select
        <include refid="Base_Column_List"/>
        from ACTIVITY_ACTIVITYINFO where rowid in
        (select rid from
        (select rownum rn,rid from
        (select rowid rid from ACTIVITY_ACTIVITYINFO where 1=1
        <if test="search!=null">
            <include refid="search_like"/>
        </if>
        and ID in
        (select FID from COLLECT_COLLECTINFO where TYPE=#{type,jdbcType=INTEGER} and
        COLLECT_ID=#{collectId,jdbcType=BIGINT})
        order by ID desc)
        where <![CDATA[ rownum <=#{end,jdbcType=INTEGER} ]]>)
        where <![CDATA[ rn >=#{being,jdbcType=INTEGER} ]]>)
        order by ID desc
    </select>

    <insert id="insertActivityInfo" parameterType="com.anssy.venturebar.activity.entity.ActivityInfoEntity">
        insert into ACTIVITY_ACTIVITYINFO
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                ID,
            </if>
            <if test="image !=null">
                IMAGE,
            </if>
            <if test="activityName != null">
                ACTIVITY_NAME,
            </if>
            <if test="sponsor != null">
                SPONSOR,
            </if>
            <if test="activityType != null">
                ACTIVITY_TYPE,
            </if>
            <if test="beginTime != null">
                BEGIN_TIME,
            </if>
            <if test="endTime != null">
                END_TIME,
            </if>
            <if test="provinceId != null">
                PROVINCE_ID,
            </if>
            <if test="cityId != null">
                CITY_ID,
            </if>
            <if test="areaId != null">
                AREA_ID,
            </if>
            <if test="longitude != null">
                LONGITUDE,
            </if>
            <if test="latitude != null">
                LATITUDE,
            </if>
            <if test="geohash != null">
                GEOHASH,
            </if>
            <if test="pv != null">
                PV,
            </if>
            <if test="praise != null">
                PRAISE,
            </if>
            <if test="weight != null">
                WEIGHT,
            </if>
            <if test="state != null">
                STATE,
            </if>
            <if test="comefrom != null">
                COME_FROM,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=BIGINT},
            </if>
            <if test="image !=null">
                #{image,jdbcType=VARCHAR},
            </if>
            <if test="activityName != null">
                #{activityName,jdbcType=VARCHAR},
            </if>
            <if test="sponsor != null">
                #{sponsor,jdbcType=VARCHAR},
            </if>
            <if test="activityType != null">
                #{activityType,jdbcType=BIGINT},
            </if>
            <if test="beginTime != null">
                #{beginTime,jdbcType=TIMESTAMP},
            </if>
            <if test="endTime != null">
                #{endTime,jdbcType=TIMESTAMP},
            </if>
            <if test="provinceId != null">
                #{provinceId,jdbcType=BIGINT},
            </if>
            <if test="cityId != null">
                #{cityId,jdbcType=BIGINT},
            </if>
            <if test="areaId != null">
                #{areaId,jdbcType=BIGINT},
            </if>
            <if test="longitude != null">
                #{longitude,jdbcType=VARCHAR},
            </if>
            <if test="latitude != null">
                #{latitude,jdbcType=VARCHAR},
            </if>
            <if test="geohash != null">
                #{geohash,jdbcType=VARCHAR},
            </if>
            <if test="pv != null">
                #{pv,jdbcType=BIGINT},
            </if>
            <if test="praise != null">
                #{praise,jdbcType=BIGINT},
            </if>
            <if test="weight != null">
                #{weight,jdbcType=BIGINT},
            </if>
            <if test="state != null">
                #{state,jdbcType=INTEGER},
            </if>
            <if test="comefrom != null">
                #{comefrom,jdbcType=BIGINT},
            </if>
        </trim>
    </insert>

    <delete id="deleteAllByComefrom" parameterType="java.lang.Long">
    DELETE FROM ACTIVITY_ACTIVITYINFO WHERE COME_FROM = 1
    </delete>

    <update id="updateActivityInfo" parameterType="com.anssy.venturebar.activity.entity.ActivityInfoEntity">
        update ACTIVITY_ACTIVITYINFO
        set
        IMAGE=#{image,jdbcType=VARCHAR},
        ACTIVITY_NAME=#{activityName,jdbcType=VARCHAR},
        SPONSOR=#{sponsor,jdbcType=VARCHAR},
        ACTIVITY_TYPE=#{activityType,jdbcType=BIGINT},
        BEGIN_TIME=#{beginTime,jdbcType=TIMESTAMP},
        END_TIME=#{endTime,jdbcType=TIMESTAMP},
        PROVINCE_ID=#{provinceId,jdbcType=BIGINT},
        CITY_ID=#{cityId,jdbcType=BIGINT},
        AREA_ID=#{areaId,jdbcType=BIGINT},
        LONGITUDE=#{longitude,jdbcType=VARCHAR},
        LATITUDE=#{latitude,jdbcType=VARCHAR},
        GEOHASH=#{geohash,jdbcType=VARCHAR},
        PV=#{pv,jdbcType=BIGINT},
        PRAISE=#{praise,jdbcType=BIGINT},
        WEIGHT=#{weight,jdbcType=BIGINT},
        STATE=#{state,jdbcType=INTEGER}
        where ID = #{id,jdbcType=BIGINT}
    </update>

</mapper>